<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAM_Setup_Sheets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SOLIDWORKS_CAM_Setup_Sheets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CAM_Setup_Sheets.Properties.Settings>
            <setting name="ExcelDefaultTemplateFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="NewProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputAllTools" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcelScreenUpdating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputTypeExcel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputTypeSWDrawing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OperationItemsNOTtoUse" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Operation Number</string>
                        <string>Operation Setup Number</string>
                        <string>Setup Number</string>
                        <string>Setup Name</string>
                        <string>Operation Setup Name</string>
                        <string>Rotary Angle</string>
                        <string>Tilt Angle</string>
                        <string>Work Offset</string>
                        <string>Operation Type</string>
                        <string>Tool Diameter Offset Number</string>
                        <string>Tool Length Offset Number</string>
                        <string>Cutter Comp On/Off</string>
                        <string>Climb/Conventional Cut</string>
                        <string>Holder Comment</string>
                        <string>Coolant Type</string>
                        <string>Mill Spindle Speed</string>
                        <string>Speeds and Feeds Method</string>
                        <string>XY Feedrate</string>
                        <string>Z Feedrate</string>
                        <string>XY Allowance</string>
                        <string>Z Allowance</string>
                        <string>Rapid Plane Type</string>
                        <string>Rapid Plane Depth</string>
                        <string>Clearance Plane Depth</string>
                        <string>Machine Deviation</string>
                        <string>Step Down Cut Amount</string>
                        <string>Tool ID</string>
                        <string>Tool Vendor</string>
                        <string>Tool Description</string>
                        <string>Holder Vendor</string>
                        <string>Holder Description</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OperationItemsToUse" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Operation Name</string>
                        <string>Tool Number</string>
                        <string>Tool Comment</string>
                        <string>Operation Time</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IncludeNBlocksOnSetupSheet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextColorForHeaderRow" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="NCFileForNBlocks" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitTableRowsAt" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Tool_ItemsNOTtoUse" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Tool Number</string>
                        <string>Tool Comment</string>
                        <string>Holder Comment</string>
                        <string>Tool ID</string>
                        <string>Tool Vendor</string>
                        <string>Tool Description</string>
                        <string>Holder Description</string>
                        <string>Holder Vendor</string>
                        <string>Tool Diameter</string>
                        <string>Tool Diameter Offset Number</string>
                        <string>Tool Length Offset Number</string>
                        <string>Tool Corner Radius</string>
                        <string>Tool Flute Length</string>
                        <string>Tool Length From Holder</string>
                        <string>Tool Number of Flutes</string>
                        <string>Tool Hand of Cut</string>
                        <string>Tool Material</string>
                        <string>Tool Tip Angle</string>
                        <string>Tool Tip Length</string>
                        <string>Holder Number</string>
                        <string>Holder Spec</string>
                        <string>Tool Top Radius</string>
                        <string>Tool Bottom Radius</string>
                        <string>Tool Overall Length</string>
                        <string>Tool Shoulder Length</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NumberOfDecimalPlaces" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SOLIDWORKSDefaultDrawingTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="CWToolCuttingPortionColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="CWHolderColor" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="CWToolShankColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="TextColorForDataRows" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="TextColorForAlternatingRows" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextFontForDataRows" serializeAs="String">
                <value>Century Gothic, 24pt, style=Bold</value>
            </setting>
            <setting name="TextFontForHeaderRow" serializeAs="String">
                <value>Century Gothic, 24pt, style=Bold, Italic</value>
            </setting>
            <setting name="TextFontForAlternatingRows" serializeAs="String">
                <value>Century Gothic, 24pt, style=Bold</value>
            </setting>
            <setting name="TextColorFor1stHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextFontFor1stHeaderRow" serializeAs="String">
                <value>Microsoft Sans Serif, 20.25pt, style=Bold</value>
            </setting>
            <setting name="TitleRowUseDocumentFontCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeaderRowUseDocumentFontCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataRowUseDocumentFontCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlternateRowUseDocumentFontCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddCreatedToolsToSetupSheet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OperationListHeader_TopLine1" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_TopLine2" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row1" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row2" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row3" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row4" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row5" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row6" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row7" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row8" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col1Row9" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row1" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row2" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row3" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row4" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row5" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row6" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row7" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row8" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationListHeader_Col2Row9" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColorFor2ndHeaderRow" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="TextColorFor3rdHeaderRow" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="TextFontFor2ndHeaderRow" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontFor3rdHeaderRow" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="Row1MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row2MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row3MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row1BackColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Row2BackColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Row3BackColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="Row1Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row2Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row3Text" serializeAs="String">
                <value />
            </setting>
            <setting name="SetupSheetTypeMill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetupSheetTypeTurn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetupSheetTypeMillTurn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow1Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow2Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow3Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row4MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row5MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row6MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row4Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row5Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row6Text" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColorFor4thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor5thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor6thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row4BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row5BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row6BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TextFontForRow4LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow5LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow6LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="DoNotUseRow4Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow5Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow6Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextColorFor4thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor5thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor6thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row4BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row5BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row6BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextFontForRow4LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow5LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow6LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="Row4LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row5LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row6LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="NumberOfColumnsToMergeRows3to6" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberOfColumnsToMergeRows7to9" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Row7MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row8MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row9MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row7Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row8Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row9Text" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColorFor7thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor8thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor9thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row7BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row8BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row9BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TextColorFor7thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor8thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor9thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row7BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row8BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row9BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DoNotUseRow7Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow8Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow9Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextFontForRow7LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow8LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow9LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow7LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow8LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow9LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="Row8LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row7LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row9LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="NumberOfColumnsToMergeRows10to12" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Row10MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row11MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row12MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row10Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row11Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row12Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row10LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row11LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row12LeftSideTextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColorFor10thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor11thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor12thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row10BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row11BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row12BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TextColorFor11thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor10thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor12thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row10BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row11BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row12BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextFontForRow10LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow11LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow12LeftSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow10LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow11LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow12LeftSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="DoNotUseRow10Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow11Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUseRow12Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOf_RH_ColumnsToMergeRows4to6" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Row4_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row5_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row6_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row4_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row5_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row6_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row4_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row5_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row6_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColorFor_RH_4thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_5thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_6thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row4_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row5_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row6_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TextColorFor_RH_4thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_5thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_6thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row4_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row5_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row6_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextFontForRow4RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow5RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow6RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow4RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow5RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow6RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="DoNotUse_RH_Row4Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUse_RH_Row5Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUse_RH_Row6Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row1AddBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row2AddBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row3AddBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row4_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row5_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row6_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row7_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row8_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row9_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row10_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row11_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row12_LH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row4_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row5_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row6_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOf_RH_ColumnsToMergeRows7to9" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Row7_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row8_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row9_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row7_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row8_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row9_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row7_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row8_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row9_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row7_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row8_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row9_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColorFor_RH_7thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_8thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_9thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row7_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row8_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row9_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextColorFor_RH_7thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_8thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_9thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row7_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row8_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row9_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TextFontForRow7RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow8RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow9RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow7RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow8RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow9RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="DoNotUse_RH_Row7Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUse_RH_Row8Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUse_RH_Row9Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOf_RH_ColumnsToMergeRows10to12" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Row10_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row11_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row12_RH_MergeAndCenterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Row10_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row11_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Row12_RH_AddBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextColorFor_RH_10thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_11thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_12thHeaderRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row10_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row11_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="Row12_RH_BackColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TextColorFor_RH_10thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DoNotUse_RH_Row10Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUse_RH_Row11Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotUse_RH_Row12Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextColorFor_RH_11thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextColorFor_RH_12thRowParameters" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Row10_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row11_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Row12_RH_BackColorParameters" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextFontForRow10RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow11RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow12RightSide" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow10RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow11RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="TextFontForRow12RightSideParameters" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="Row10_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row11_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row12_RH_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="Row10_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row11_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="Row12_RH_TextParameters" serializeAs="String">
                <value />
            </setting>
            <setting name="BackColorForOperationParameterHeadings" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ForeColorForOperationParameterHeadings" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="FontForOperationParameterHeadings" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="BackColorForOperationDataRow" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="ForeColorForOperationDataRow" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FontForOperationDataRow" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="BackColorForOperationAlternatingDataRow" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="FontForOperationAlternatingDataRow" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ForeColorForOperationAlternatingDataRow" serializeAs="String">
                <value>Black</value>
            </setting>
        </CAM_Setup_Sheets.Properties.Settings>
        <SOLIDWORKS_CAM_Setup_Sheets.Properties.Settings>
            <setting name="ExcelDefaultTemplateFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="NewProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputAllTools" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcelScreenUpdating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputTypeExcel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputTypeSWDrawing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OperationItemsNOTtoUse" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Operation Number</string>
                        <string>Operation Setup Number</string>
                        <string>Setup Number</string>
                        <string>Setup Name</string>
                        <string>Operation Setup Name</string>
                        <string>Rotary Angle</string>
                        <string>Tilt Angle</string>
                        <string>Work Offset</string>
                        <string>Operation Type</string>
                        <string>Tool Diameter Offset Number</string>
                        <string>Tool Length Offset Number</string>
                        <string>Cutter Comp On/Off</string>
                        <string>Climb/Conventional Cut</string>
                        <string>Holder Description</string>
                        <string>Coolant Type</string>
                        <string>Mill Spindle Speed</string>
                        <string>Speeds and Feeds Method</string>
                        <string>XY Feedrate</string>
                        <string>Z Feedrate</string>
                        <string>XY Allowance</string>
                        <string>Z Allowance</string>
                        <string>Rapid Plane Type</string>
                        <string>Rapid Plane Depth</string>
                        <string>Clearance Plane Depth</string>
                        <string>Machine Deviation</string>
                        <string>Step Down Cut Amount</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OperationItemsToUse" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Operation Name</string>
                        <string>Tool Number</string>
                        <string>Tool Description</string>
                        <string>Operation Time</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IncludeNBlocksOnSetupSheet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextColorForHeaderRow" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="NCFileForNBlocks" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitTableRowsAt" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Tool_ItemsNOTtoUse" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Tool Number</string>
                        <string>Tool Description</string>
                        <string>Holder Description</string>
                        <string>Tool Diameter</string>
                        <string>Tool Diameter Offset Number</string>
                        <string>Tool Length Offset Number</string>
                        <string>Tool Corner Radius</string>
                        <string>Tool Flute Length</string>
                        <string>Tool Length From Holder</string>
                        <string>Tool Number of Flutes</string>
                        <string>Tool Hand of Cut</string>
                        <string>Tool Material</string>
                        <string>Tool Tip Angle</string>
                        <string>Tool Tip Length</string>
                        <string>Holder Number</string>
                        <string>Holder Spec</string>
                        <string>Tool Top Radius</string>
                        <string>Tool Bottom Radius</string>
                        <string>Tool Overall Length</string>
                        <string>Tool Shoulder Length</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NumberOfDecimalPlaces" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SOLIDWORKSDefaultDrawingTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="CWToolCuttingPortionColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="CWHolderColor" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="CWToolShankColor" serializeAs="String">
                <value>Blue</value>
            </setting>
        </SOLIDWORKS_CAM_Setup_Sheets.Properties.Settings>
    </userSettings>
</configuration>